# Root
NODE_ENV=development

# API
PORT=4000
CORS_ORIGIN=http://localhost:8081
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Mobile
EXPO_PUBLIC_API_URL=http://localhost:4000/api/v1
EXPO_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
